.billcontainer{
    width:75%;
    margin-left: 12rem;
}

.buy{
    margin-left: 50rem;
    margin-top: -5rem;
}
.billtable{
    margin-top: 5rem;
}

.caption{
    margin-top: 20px;
    margin-left: 17rem;
}